window {
    margin: 0px;
    background-color: #282828;
    border-radius: 30px;
    border: 2px solid #ebdbb2;
}

#input {
    margin: 5px;
    background-color: #282828;
    color: #ebdbb2;
    border: none;
    border-radius: 30px;
}

#input:selected {
    border-color: red;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
} 

#entry:selected {
    color: #d79921;
    background-color: #282828;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    color: #d79921;
    background-color: #282828;
    border-radius: 20px;
    outline: none;
}
